language: python
python:
    - "2.7"
    - '3.5'

install:
    - python setup.py install
    - pip install coverage

script:
      coverage run tests.py

after_success:
    - curl -o codecov.sh -s https://codecov.io/bash && /bin/bash ./codecov.sh
